project3/assignment5-6/TryIt_wordfilter/Connected Services/client_top10/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar86.fulton.asu.edu/Page0/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar86.fulton.asu.edu/Page0/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar86.fulton.asu.edu/Page0/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CountWord_InputMessage">
    <wsdl:part name="parameters" element="tns:CountWord" />
  </wsdl:message>
  <wsdl:message name="IService1_CountWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountWordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Top10word_InputMessage">
    <wsdl:part name="parameters" element="tns:Top10word" />
  </wsdl:message>
  <wsdl:message name="IService1_Top10word_OutputMessage">
    <wsdl:part name="parameters" element="tns:Top10wordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTop10_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTop10" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTop10_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTop10Response" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CountWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CountWord" message="tns:IService1_CountWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CountWordResponse" message="tns:IService1_CountWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Top10word">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Top10word" message="tns:IService1_Top10word_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Top10wordResponse" message="tns:IService1_Top10word_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTop10">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTop10" message="tns:IService1_GetTop10_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTop10Response" message="tns:IService1_GetTop10_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CountWord">
      <soap:operation soapAction="http://tempuri.org/IService1/CountWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Top10word">
      <soap:operation soapAction="http://tempuri.org/IService1/Top10word" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTop10">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTop10" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar86.fulton.asu.edu/Page0/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>